@font-face {
    font-family:'FontAwesome';
    src:url('./fontawesome-webfont.ttf') format('truetype');
    font-weight:normal;
    font-style:normal
}
.edit{
    min-width: 330px;
    border:1px solid #999999;
}
.edit .unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    /*
      Introduced in IE 10.
      See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
    */
    -ms-user-select: none;
    user-select: none;
}
.edit .edit-bar{
    border-bottom: solid 1px #dddddd;
    background-color: #f2f2f2;
}
.edit .edit-bar .btn-group{
    float: left;
}
.edit .edit-bar .btn-group .button{
    border:none;
    display: inline-flex;
    width: 32px;
}
.edit .edit-bar .btn-group .button i{
    width: 30px;
    text-align: center;
    height: 18px;
    line-height: 18px;
}
.edit .edit-bar .btn-group .button:hover{
    background-color: #FFFFFF;
    border:1px solid #0099cc;
}
.edit .button{
    outline: none;
    height: 18px;
    line-height: 18px;
    border:none;
    display: inline-flex;
    width: 32px;
}
.edit .button i{
    width: 30px;
    text-align: center;
    height: 18px;
    line-height: 18px;
}
.edit .button:hover{
    background-color: #FFFFFF;
    border:1px solid #0099cc;
}
.edit .edit-area{

    outline:none;
    height: 150px;
    word-break:break-all;
    overflow:auto;
}

.edit .edit-bar .drop-down ul{
    background-color: #ffffff;
    border:1px solid #dddddd;
    margin:0 0 14px 0px ;position: absolute;visibility: hidden;list-style:none;padding:0px;}
.edit .edit-bar .drop-down:hover ul{
    visibility: visible;
}
.edit .edit-bar .drop-down li{
    border-bottom: solid 1px #e5edf2;
}
/**下拉菜单取消下划线和颜色*/
.edit .edit-bar .drop-down ul a{
    margin: 2px 2px 2px 2px;
    text-decoration:none;
    color: #000000;
}

.edit .fa {
    display:inline-block;
    font-family:FontAwesome;
    font-style:normal;
    font-weight:normal;
    line-height:1;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale
}
.edit .fa-paragraph:before {
    content:"\f1dd"
}
.edit .fa-caret-down:before {
    content:"\f0d7"
}
.edit .fa-bold:before {
    content:"\f032"
}
.edit .fa-italic:before {
    content:"\f033"
}
.edit .fa-underline:before {
    content:"\f0cd"
}
.edit .fa-strikethrough:before {
    content:"\f0cc"
}
.edit .fa-text-height:before {
    content:"\f034"
}
.edit .fa-list-ul:before {
    content:"\f0ca"
}
.edit .fa-list-ol:before {
    content:"\f0cb"
}
.edit .fa-align-left:before {
    content:"\f036"
}
.edit .fa-eraser:before {
    content:"\f12d"
}
